.palindrome{
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease;

}

h2 {
  font-size: 100px;
}

.container{
  display: flex;
  flex-flow: column wrap;
  height: 40vh;

}

@keyframes pulse {
  0% {
    color:darkgrey;
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    color:orange;
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    color:darkgrey;
    transform: scale(1);
    opacity: 0.7;
  }
}
