<br/>

<div>
  <span>
    <label>Start</label>
  <select class="select" title="Start Time" name="beginTime" (change)="handleBeginChange($event)">
    <option *ngFor="let time of beginTimes; let i = index" value="{{i}}">{{time}}</option>
  </select>

    <label>End</label>

  <select class="select" title="End Time" name="endTime" (change)="handleEndChange($event)">
    <option  *ngFor="let time of endTimes; let i = index" value="{{i}}">{{time}}</option>
  </select>
  </span>
</div>
<br/>
<a  class="container">
  <a class="timeDisplay">
    <div *ngFor="let time of timesToDisplay" class="timeSegment">
      {{time}}
    </div>
  </a>
  <div style="grid-area: monday" class="timeColumn">
    Monday
    <div *ngFor="let timeSlot of toDisplay[0]; let i = index">
      <div (mouseleave)="mouseLeaveTimeSegment($event, 0, i)"  (mouseenter)="mouseEnterTimeSegment($event, 0, i)" class="timeSegment" [ngClass]="{'available': timeSlot, 'notAvailable': !timeSlot}">{{timeSlot.CLASSNAME}}</div>
    </div>
  </div>
  <div style="grid-area: tuesday" class="timeColumn">
    Tuesday
    <div *ngFor="let timeSlot of toDisplay[1]; let i = index">
      <div (mouseleave)="mouseLeaveTimeSegment($event, 1, i)"  (mouseenter)="mouseEnterTimeSegment($event, 1, i)"  class="timeSegment" [ngClass]="{'available': timeSlot, 'notAvailable': !timeSlot}">{{timeSlot.CLASSNAME}}</div>
    </div>
  </div>
  <div style="grid-area: wednesday" class="timeColumn">
    Wednesday
    <div *ngFor="let timeSlot of toDisplay[2]; let i = index">
      <div (mouseleave)="mouseLeaveTimeSegment($event, 2, i)"  (mouseenter)="mouseEnterTimeSegment($event, 2, i)" class="timeSegment" [ngClass]="{'available': timeSlot, 'notAvailable': !timeSlot}">{{timeSlot.CLASSNAME}}</div>
    </div>
  </div>
  <div style="grid-area: thursday" class="timeColumn">
    Thursday
    <div *ngFor="let timeSlot of toDisplay[3]; let i = index">
      <div (mouseleave)="mouseLeaveTimeSegment($event, 3, i)"  (mouseenter)="mouseEnterTimeSegment($event, 3, i)" class="timeSegment" [ngClass]="{'available': timeSlot, 'notAvailable': !timeSlot}">{{timeSlot.CLASSNAME}}</div>
    </div>
  </div>
  <div style="grid-area: friday" class="timeColumn">
    Friday
    <div *ngFor="let timeSlot of toDisplay[4]l let i = index">
      <div (mouseleave)="mouseLeaveTimeSegment($event, 4, i)"  (mouseenter)="mouseEnterTimeSegment($event, 4, i)" class="timeSegment" [ngClass]="{'available': timeSlot, 'notAvailable': !timeSlot}">{{timeSlot.CLASSNAME}}</div>
    </div>
  </div>

</a>
