.container {
  display: grid;
  grid-template-columns: 10% repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:"times monday tuesday wednesday thursday friday";

}


.timeDisplay {
  display:grid;
  grid-area: times;
  margin: 0px 15px;
  grid-template-columns: auto;
  grid-template-rows: repeat(48, 20px);
  overflow: hidden;
  text-wrap: none;
}

.timeColumn{
  display: grid;
  margin: 1px;

}

.timeSegment.available {
  background-color: chartreuse;
}
.timeSegment.notAvailable{
  background-color: darkgrey;
}

