.availabilityDisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.timeDisplay {
  display:grid;
  margin: 0px 15px;
  grid-template-columns: auto;
  grid-template-rows: repeat(10, 15px);
}

.timeSegment{
  text-align: center;
  margin: 1px;
  display: block;
}

.timeSegment.available {
  background-color: chartreuse;
}
.timeSegment.notAvailable{
  background-color: darkgrey;
}

.container{
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: 1.5em auto;
}
